#################################
# GitHub Dependabot Config info #
#################################

# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    assignees:
      - "stormie-bot"
    commit-message:
      prefix: "deps(monorepo):"
    directory: "/"
    schedule:
      dependency-type: "all"
      interval: "weekly"
    ignore:
      - dependency-name: "{@storm-software/*,@stryke/*,@cyclone-ui/*,@acidic/*,@powerlines/*,@earthquake/*,@nx/*,nx}"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - dependabot
    target-branch: dependabot

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    assignees:
      - "stormie-bot"
    commit-message:
      prefix: "deps(monorepo):"
    directory: "/"
    schedule:
      dependency-type: "all"
      interval: "weekly"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - dependabot
    target-branch: dependabot

  # Maintain dependencies for bundler
  - package-ecosystem: "bundler"
    assignees:
      - "stormie-bot"
    commit-message:
      prefix: "deps(monorepo):"
    directory: "/"
    schedule:
      dependency-type: "all"
      interval: "weekly"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - dependabot
    target-branch: dependabot

  # Maintain dependencies for cargo
  - package-ecosystem: "cargo"
    assignees:
      - "stormie-bot"
    commit-message:
      prefix: "deps(monorepo):"
    directory: "/"
    schedule:
      dependency-type: "all"
      interval: "weekly"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - dependabot
    target-branch: dependabot

  # Maintain dependencies for rust-toolchain
  - package-ecosystem: "rust-toolchain"
    assignees:
      - "stormie-bot"
    commit-message:
      prefix: "deps(monorepo):"
    directory: "/"
    schedule:
      dependency-type: "all"
      interval: "weekly"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - dependabot
    target-branch: dependabot
