strict-peer-dependencies=false
shamefully-hoist=true
no-frozen-lockfile=true
strict-ssl=false
skip-optional=false
provenance=true
hoist-workspace-packages=true
prefer-workspace-packages=true
git-checks=true
registry=https://registry.npmjs.org/

#registry=http://localhost:4873/


