.alexignore
.prettierignore
npm-lock.json
pnpm-lock.json
yarn.lock.json
npm-lock.yml
pnpm-lock.yml
yarn.lock.yml
npm-lock.yaml
pnpm-lock.yaml
yarn.lock.yaml
bun.lockb

**/.nx/workspace-data/**
**/.nx/cache/**
**/.git/**
**/.docusaurus/**
**/dist/**
**/dotnet/**
**/node_modules/**
**/.next/**
**/.storm/**
**/tools/docker/**
**/__snapshots__/**
**/catalog-package/**
**/*.hbs
**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/LICENSE
**/LICENSE.md
**/LICENSE.txt
**/src/generators/**/files/**/*
**/typegen.d.ts
