---
name: Dependabot Update

on:
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GITHUB_TOKEN: "${{secrets.STORM_BOT_GITHUB_TOKEN}}"
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.STORM_BOT_GITHUB_TOKEN }}"

      - name: Auto-merge the pull request in GitHub
        run: gh pr merge --auto --squash --delete-branch "${PR_URL}"
        env:
          GITHUB_ACTOR: stormie-bot
          GITHUB_TOKEN: "${{secrets.STORM_BOT_GITHUB_TOKEN}}"
