# reference: https://github.com/rust-lang/cargo/issues/3946
[env]
WORKSPACE_DIR       = { value = "", relative = true }
CARGO_WORKSPACE_DIR = { value = "", relative = true }

[build]
target-dir = "dist/target"
