# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

name: Reusable CI

on:
  workflow_call:
    inputs:
      tag:
        description: Override release tag
        type: string
        required: false
      package-manager:
        description: Package manager
        type: string
        required: false
        default: pnpm
      package-manager-version:
        description: Package manager version
        type: string
        required: false
        default: 10.22.0
    secrets:
      STORM_BOT_GITHUB_TOKEN:
        description: GitHub token of the Storm bot
        required: true
      STORM_BOT_NPM_TOKEN:
        description: NPM token
        required: true
      STORM_BOT_CARGO_TOKEN:
        description: Cargo token
        required: true
      STORM_BOT_SLACK_TOKEN:
        description: Slack token
        required: true
      STORM_BOT_DISCORD_WEBHOOK:
        description: Discord webhook
        required: true
      STORM_BOT_TELEGRAM_TOKEN:
        description: Telegram token
        required: true
      STORM_BOT_TELEGRAM_NOTIFICATION_CHAT:
        description: Telegram chat ID
        required: true

jobs:
  ci:
    name: "CI"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    if:
      startsWith(github.repository, 'storm-software/') && (github.ref ==
      'refs/heads/main' || github.ref == 'refs/heads/next' || github.ref ==
      'refs/heads/experimental')
    steps:
      - name: Send notification - Deployment started
        uses: storm-software/action-notify@main
        with:
          title:
            "Deployment for ${{ github.repository }} has started (In Progress)"
          subtitle:
            "Deployment for ${{ github.repository }} has started - #${{
            github.run_number }}"
          description:
            "Deployment for ${{ github.repository }} is currently in process -
            #${{ github.run_number }}. Click here to see the full workflow
            details: ${{ github.event.pull_request.html_url ||
            github.event.head_commit.url }}."
          color: 2077350
          status: "In Progress"
          slack-token: ${{ secrets.STORM_BOT_SLACK_TOKEN }}
          telegram-token: ${{ secrets.STORM_BOT_TELEGRAM_TOKEN }}
          telegram-chat: ${{ secrets.STORM_BOT_TELEGRAM_NOTIFICATION_CHAT }}
          discord-webhook: ${{ secrets.STORM_BOT_DISCORD_WEBHOOK}}

      - name: Setup workspace
        uses: storm-software/action-setup@main
        with:
          gpg-sign-key: ${{ secrets.STORM_BOT_GPG_SIGN_KEY }}
          gpg-private-key: ${{ secrets.STORM_BOT_GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.STORM_BOT_GPG_PASSPHRASE }}
          package-manager: ${{ inputs.package-manager }}
          package-manager-version: ${{ inputs.package-manager-version }}
          storm-bot-github-token: ${{ secrets.STORM_BOT_GITHUB_TOKEN }}

      - name: Get appropriate base and head commits for `nx affected` commands
        uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: "main"

      - name: Set appropriate base and head commits for `nx affected` commands
        run: |
          echo "BASE: ${NX_BASE}"
          echo "HEAD: ${NX_HEAD}"
        shell: bash

      - name: Release repository updates
        run: pnpm release --base=${NX_BASE} --head=${NX_HEAD}
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ github.token }}
          GH_TOKEN: ${{ github.token }}
          NPM_TOKEN: ${{ secrets.STORM_BOT_NPM_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.STORM_BOT_CARGO_TOKEN }}
          STORM_BOT: stormie-bot
          STORM_WORKSPACE_ROOT: ${{ github.workspace }}
          STORM_REPOSITORY: ${{ github.repositoryUrl }}
          TAG: ${{ inputs.tag }}

  success:
    needs:
      - ci
    if: ${{ success() }}
    name: Send success notification
    runs-on: ubuntu-latest
    steps:
      - name: Send notification - Deployment successful
        uses: storm-software/action-notify@main
        with:
          title:
            "Deployment for ${{ github.repository }} has finished (Success)"
          subtitle:
            "Deployment for ${{ github.repository }} has finished successfully -
            #${{ github.run_number }}"
          description:
            "Deployment for ${{ github.repository }} has finished successfully -
            #${{ github.run_number }}. Click here to see the full workflow
            details: ${{ github.event.pull_request.html_url ||
            github.event.head_commit.url }}."
          color: 556891
          status: "Success"
          slack-token: ${{ secrets.STORM_BOT_SLACK_TOKEN }}
          telegram-token: ${{ secrets.STORM_BOT_TELEGRAM_TOKEN }}
          telegram-chat: ${{ secrets.STORM_BOT_TELEGRAM_NOTIFICATION_CHAT }}
          discord-webhook: ${{ secrets.STORM_BOT_DISCORD_WEBHOOK}}

  failure:
    needs:
      - ci
    if: ${{ failure() }}
    name: Send failure notification
    runs-on: ubuntu-latest
    steps:
      - name: Send notification - Deployment successful
        uses: storm-software/action-notify@main
        with:
          title:
            "Deployment for ${{ github.repository }} has finished (Failure)"
          subtitle:
            "Deployment for ${{ github.repository }} finished with failures -
            #${{ github.run_number }}"
          description:
            "Deployment for ${{ github.repository }} finished with failures -
            #${{ github.run_number }}. Click here to see the full workflow
            details: ${{ github.event.pull_request.html_url ||
            github.event.head_commit.url }}."
          color: 10027008
          status: "Failure"
          slack-token: ${{ secrets.STORM_BOT_SLACK_TOKEN }}
          telegram-token: ${{ secrets.STORM_BOT_TELEGRAM_TOKEN }}
          telegram-chat: ${{ secrets.STORM_BOT_TELEGRAM_NOTIFICATION_CHAT }}
          discord-webhook: ${{ secrets.STORM_BOT_DISCORD_WEBHOOK}}

  cancelled:
    needs:
      - ci
    if: ${{ cancelled() }}
    name: Send cancelled notification
    runs-on: ubuntu-latest
    steps:
      - name: Send notification - Deployment cancelled
        uses: storm-software/action-notify@main
        with:
          title:
            "Deployment for ${{ github.repository }} has finished (Cancelled)"
          subtitle:
            "Deployment for ${{ github.repository }} was cancelled - #${{
            github.run_number }}"
          description:
            "Deployment for ${{ github.repository }} was stopped before it could
            complete - #${{ github.run_number }}. Click here to see the full
            workflow details: ${{ github.event.pull_request.html_url ||
            github.event.head_commit.url }}."
          color: 16565273
          status: "Cancelled"
          slack-token: ${{ secrets.STORM_BOT_SLACK_TOKEN }}
          telegram-token: ${{ secrets.STORM_BOT_TELEGRAM_TOKEN }}
          telegram-chat: ${{ secrets.STORM_BOT_TELEGRAM_NOTIFICATION_CHAT }}
          discord-webhook: ${{ secrets.STORM_BOT_DISCORD_WEBHOOK}}
