---
name: Weekly codeowners cleanup
on:
  workflow_dispatch:
  schedule:
    - cron: "3 2 1 * *"

permissions:
  contents: read

jobs:
  clean-owners:
    name: clean-owners
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Run clean-owners action
        uses: github/clean-owners@v1
        env:
          GH_TOKEN: ${{ secrets.STORM_BOT_GITHUB_TOKEN }}
          ORGANIZATION: storm-software
