name: Security

on:
  pull_request:
  push:
    branches:
      - main
      - next
      - experimental
    paths-ignore:
      - "**/*.md"
      - ".all-contributorsrc"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  file-system-scan:
    permissions:
      actions: read
      contents: read
      security-events: write
    name: Vulnerability scanning - File system
    uses: ./.github/workflows/security-reusable.yml
    with:
      scan-type: "fs"
      format: "sarif"
      exit-code: 0
      publish: true

  config-scan:
    permissions:
      actions: read
      contents: read
      security-events: write
    name: Vulnerability scanning - Config
    uses: ./.github/workflows/security-reusable.yml
    with:
      scan-type: "config"
      format: "sarif"
      exit-code: 0
      publish: true
